################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/TI4/bin
/TI4/obj/Debug
/public
/node_modules