body{
	padding: 1.5em;
}
input[type=submit]{
	float:right;
}
form{
	padding-top: 3em;
	padding-bottom: 3em;
}
form>div{
	display:  flex;
	padding-bottom: 2em;
}
form>div>input[type=checkbox]{
	flex: 0 0 auto;
	position: relative;
	left: -1em;
}
form>div>label{
	flex: auto;
}


@media screen and (min-width: 56em){
	body{
		padding: 3em;
	}
	main, header, footer{
		width: 45em;
	}
	aside{
		width: 25em;
	}
	form{
		width: 38em;                    
		padding-left: 2em;
	}
	span.subheading{
		padding-left: 1em;
	}

}
@media screen and (min-width: 70em){
	aside{
		position:fixed;
		left: 52em
	}
}

p,li,span,label{
	font-family: 'Nunito', sans-serif;
	margin-top: 0px;
}

h1,h2,h3,h4,h5,h6, header p, header span, #section_abstract p{
	font-family: 'Spectral SC', serif;
	margin-top: 1.5em;
	margin-bottom: 0em;
}

.subheading{
	color: gray
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}